aside{
    background-color: #282a25f0;
    grid-area: aside;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Montserrat', sans-serif;
    height: 150vh;
}
aside p{
    font-family:'Montserrat', sans-serif;
}

aside h2{
    text-align: center;   
}

aside h2, aside p{
    color: white;
    padding: 15px;
}

aside ul{
    list-style-image: url("../images/nuvemzinha.png");
}

aside ul li{
    color: white;
}

body{
    cursor: url("../images/kunai\ \(1\).png"), default;
    display: grid;  
    font-family: 'Permanent Marker', cursive;
    grid-template-areas: "nav nav nav nav "
                         " header header header aside"
                         "section section section aside"
                         "footer footer footer footer";
grid-template-columns: 25vw 25vw 25vw 25vw;
grid-template-rows: 8vh 70vh 60vh 10vh;   
margin: 0; 
}

header{
    background-image: url("../images/members3.jpg");
    background-size: cover;
    grid-area: header;   
}

nav{
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: space-around;
    grid-area: nav;
    
}

nav a{
    color: whitesmoke;
    text-decoration: none;
}

nav a:hover{
    color: #bb2127;;
    cursor: url("../images/kunai\ \(1\).png"), default;
}

nav img{
    width: 40px;
}

section{
    grid-area: section;
}

footer{
    grid-area: footer;
}